<div>
  <mat-card class="cardTop">
    <mat-card-title class="appTitle">Training Planner</mat-card-title>
    <mat-tab-group class="tabGroup" mat-align-tab="start" (selectedTabChange)="changeTab($event)" [(selectedIndex)]="tabSelection">
      <mat-tab class="tabCalendar">
        <ng-template mat-tab-label>Calendar</ng-template>
        <div class="cardsRow">
          <mat-card class="cardExerciseDays">
            <mat-card-content>
              <div class="exerciseDays">
                <li *ngFor="let exerciseDay of exerciseDays"routerLink="/{{exerciseDay.date | date:'dd.MM.yyyy'}}">
                  <button [class.selected]="exerciseDay === activeExerciseDay" type="button" (click)="selectDate(exerciseDay)">
                    <span class="date">{{exerciseDay.date | date:'dd.MM.yyyy' }}</span>
                  </button>
                </li>
              </div>
              <div class="appButtons">
                <button type="newExerciseDayButton" (click)="clickedNewExerciseButton()" clickable>New</button>
                <button type="editExerciseDayButton" (click)="clickedEditExerciseButton()" clickable>Edit</button>
                <button type="deleteExerciseDayButton" (click)="clickedDeleteExerciseButton()" clickable>Delete</button>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="cardSheetListOfDays">
            <mat-card-content class="cardContentSheetListOfDays">
              <!--
              <div class="sheetListButtons">
                <div>
                  <button [class.selected]="showTOC === false" [disabled]="true" (click)="openSheetListOneDay()" >Day {{this.activeExerciseDay.date | date:'dd.MM.yyyy'}}</button>
                </div>
                <div *ngIf="isAdmin">
                  <button [class.selected]="showTOC === true" (click)="openSheetListTOC()">Table of Contents</button>
                </div>
              </div>
              -->
              <div class="sheetList">
                <mat-card-title>Exercises</mat-card-title>
                <div *ngIf="showSheetList">
                  <li *ngFor="let sheet of sheets" routerLink="/{{sheet.shortName}}" >
                    <button [class.selected]="sheet === activeSheet" (click)="selectSheet(sheet)" clickable>
                      <span>{{sheet.id}} {{sheet.shortName}}</span>
                    </button>
                  </li>
                </div>
              </div>
              <div class="appButtons">
                <button type="addSheetButton" (click)="clickedAddSheetButton()" clickable>Add</button>
                <button type="newSheetButton" [disabled]="isDaySelected()" (click)="clickedNewSheetButton()" clickable>New</button>
                <button type="deleteSheetButton" (click)="clickedDeleteSheetButton()" clickable>Delete</button>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </mat-tab>
      <mat-tab class="tabCatalog">
        <ng-template mat-tab-label>Catalog</ng-template>
        <div class="cardsRow">
          <mat-card class="cardSheetListOfTOC">
            <mat-card-content class="cardContentSheetList">
              <!--
              <div class="sheetListButtons">
                <div>
                  <button [class.selected]="showTOC === false" [disabled]="true" (click)="openSheetListOneDay()" >Day {{this.activeExerciseDay.date | date:'dd.MM.yyyy'}}</button>
                </div>
                <div *ngIf="isAdmin">
                  <button [class.selected]="showTOC === true" (click)="openSheetListTOC()">Table of Contents</button>
                </div>
              </div>
              -->
              <div class="sheetList">
                <mat-card-title>Exercises</mat-card-title>
                <div *ngIf="showSheetList">
                  <li *ngFor="let sheet of sheets" routerLink="/{{sheet.shortName}}" >
                    <button [class.selected]="sheet === activeSheet" (click)="selectSheet(sheet)" clickable>
                      <span>{{sheet.id}} {{sheet.shortName}}</span>
                    </button>
                  </li>
                </div>
              </div>
              <div class="appButtons">
                <button type="addSheetButton" (click)="clickedAddSheetButton()" clickable>Add</button>
                <button type="newSheetButton" [disabled]="activeExerciseDay === null" (click)="clickedNewSheetButton()" clickable>New</button>
                <button type="deleteSheetButton" (click)="clickedDeleteSheetButton()" clickable>Delete</button>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="cardSheetDetails">
            <mat-card-content>
              <div class="sheetDetailCompo">
                <sheetDetail [sheet]="this.activeSheet"></sheetDetail>
              </div>
            </mat-card-content>
          </mat-card>
          <div class="appButtonsVertical">
            <button type="adminButton" [class]="isAdmin? 'fullFeature':'noFeature'" (click)="clickedAdminButton()" clickable>Admin</button>
            <button type="exportJsonButton" [class]="isAdmin? 'fullFeature':'noFeature'" [disabled]="!isAdmin" (click)="clickedExportJsonButton()" clickable>JSON Export</button>
            <button type="importJsonButton" [class]="isAdmin? 'fullFeature':'noFeature'" [disabled]="!isAdmin" (click)="fileInput.click()" clickable>JSON Import</button>
            <input #fileInput type="file" accept=".json" style="display:none" (change)="clickedImportJsonButton($event)">
            <button type="importHtmlButton" [class]="isAdmin? 'fullFeature':'noFeature'" [disabled]="!isAdmin" (click)="clickedImportHtmlButton()" clickable>Html Import</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

