input[type="saveSheetButton"] {
    bottom: 0;
    color: black;
    vertical-align: bottom;
    /* Add other styles as needed */
}

.sheetContainer {
  display: flex;
  align-items: left;
  font-size: 15px;
  offset: 10px;
}


button {
  margin-bottom: 10px;

  /* button styles go here */
}

label {
  width: 140px;
  text-align: left;
  display: inline-block;
}

input {
  width: 200px;
  margin: .3em;
}

textarea {
  width: 200px;
  margin: .3em;
}